.cell {
    height: 16.5vh;
    padding: 1%;
    border-radius: 4%;
    /* border: 2px solid rebeccapurple; */
    border: 2px solid thistle;
    font-size: smaller;
}

.central {
    font-weight: 500;
    font-size: large;
    background-color: aliceblue;
}

.reversed {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
    .cell {
        font-size: 2.8vw;
    }
}