@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
}

.grid {
  /* font-family: 'Space Grotesk', sans-serif; */
  font-family: monospace;
  max-width: 700px;
  max-height: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.row {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1mm;
  margin-bottom: 2%;
}

.winning-buzz {
  /* font-family: 'Space Grotesk', sans-serif; */
  font-family: monospace;
  max-width: 700px;
  max-height: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  animation: shake 0.5s;
  animation-iteration-count: 4;
  transform: translate(-50%, -50%);
}

.btn-rebecca {
  text-shadow: 0 0 10px rgb(242, 255, 250), 0 0 30px #9bff22, 0 0 40px #41a200, 0 0 50px #00f2ad, 0 0 60px #00f210;
  color: rgb(40, 40, 40);
}

.btn-rebecca-dark {
  text-shadow: 0 0 13px rgb(11, 25, 82), 0 0 15px rgb(0, 109, 75), 0 0 30px #00f331, 0 0 40px #00ff73;
  color: rgb(188, 251, 0);
}

.bottom {
  margin-right: 1%;
  margin-left: 1%;
  background-color: rgb(112, 97, 247);
  font-weight: 800;
}

.bottom-light {
  background-color: yellow;
}

.dark-mode {
  background-color: black;
  height: 100vh;
  color: rgb(179, 255, 0);
}

@keyframes shake {
  0% {
    transform: translate(-51%, -50%) rotate(0deg);
  }

  10% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }

  20% {
    transform: translate(-50%, -50%) rotate(1deg);

  }

  30% {
    transform: translate(-50%, -50%) rotate(0deg);

  }

  40% {
    transform: translate(-50%, -50%) rotate(1deg);

  }

  50% {
    transform: translate(-50%, -50%) rotate(-1deg);

  }

  60% {
    transform: translate(-50%, -50%) rotate(0deg);

  }

  70% {
    transform: translate(-50%, -50%) rotate(-1deg);

  }

  80% {
    transform: translate(-50%, -50%) rotate(1deg);

  }

  90% {
    transform: translate(-50%, -50%) rotate(0deg);

  }

  100% {
    transform: translate(-50%, -50%) rotate(-1deg);

  }

}